body {
	background-color: #EFEFEF;
}

.title {
	text-align: center;
	width: 30%;
}

.title h1 {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 32px;
}

nav {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	text-align: center;
	width: 60%;
	margin: auto;
}

nav ul {
	display: inline;
	width: 50em;
	list-style-type: none;
}

nav li {
	display: inline;
}

nav a {
	color: #A9A9A9;
	text-decoration: none;
}

nav a:hover{
	color: #8F8F8F;
}
