* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:"nevis";
    src:url("../fonts/nevis.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Caviar Dreams Italic';
    font-style: italic;
    font-weight: 100;
    src: local('Caviar Dreams Italic'), url('../fonts/CaviarDreamsItalic.woff') format('woff');
}

@-webkit-keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

@-moz-keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

@-o-keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@-moz-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* end Nick Pettit code */

body {
    background: linear-gradient(to bottom right, #77c9d4, #57bc91);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*creates our main content container*/
#container,
#head{
    margin: 0 auto;
    width: 1160px;
    padding: 40px 0 0;
    text-align: center;
    position: relative;
}

/*fills container*/
#container {
    background: #fff;
    border-radius: 25px;
    
    -webkit-animation: fade 2s;
       -moz-animation: fade 2s;
         -o-animation: fade 2s;
            animation: fade 2s;
}

header img {
    height: 464px;
    
    -webkit-animation: pulse 3s infinite;
       -moz-animation: pulse 3s infinite;
         -o-animation: pulse 3s infinite;
            animation: pulse 3s infinite;
}

header h1, header h2 {
    width: 460px;
    margin: 0 auto;
}

header h1 {
    text-transform: uppercase;
    font-family: 'nevis';
    color: white;
    font-size: 50px;
    letter-spacing: -2px;
    margin-top: 15px;
}

header h2 {
    padding: 0 0 60px;
    text-align: left;
    margin-top: -10px;
}

header h2,
footer h2{
    font-family: 'Caviar Dreams Italic';
    color: white;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: -2px;
}

footer p{
    color: white;
    padding-bottom: 20px;
}

section {
    height: 650px;
    margin-top: 25px;
}

.right,
.left {
    box-sizing: border-box;
    padding: 60px;
    text-align: left;
}

#porter .right {
    margin-top: 50px;
    
}

#bovi {
    padding-top: 50px;
}

#el_img {
    position: relative;
    left: 50px;
    top: 35px;
}

.right {
    float: right;
    background: url('../img/para_bg.svg') no-repeat;
}

.left {
    left: 20px;
    background: url('../img/para_bg.svg') no-repeat;
}

.right h1,
.left h1 {
    font-family: 'Caviar Dreams Italic';
    font-size: 26px;
    color: #A9A;
}

.right p,
.left p{
    font-family: 'Lato';
    font-size: 15px;
    color: #A9A;
    letter-spacing: 1px;
}

#caption {
    font-family: 'Caviar Dreams Italic';
}

#bottom-thumb {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
    padding: 10px;
    color: white;
}

#bottom-thumb img {
    -webkit-animation: pulse 3s infinite;
       -moz-animation: pulse 3s infinite;
         -o-animation: pulse 3s infinite;
            animation: pulse 3s infinite;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and ( max-width: 760px ) {    
    
    #head {
        width: 100%;
    }
    
    #container {
        width: inherit;
    }
    
    #el_img {
        width: 85%;
        left: 25px;
    }
    
    section {
        height: 900px;
        margin-bottom: 50px;
    }
}