* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:"nevis";
    src:url("nevis.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Caviar Dreams Italic';
    font-style: italic;
    font-weight: 100;
    src: local('Caviar Dreams Italic'), url('CaviarDreamsItalic.woff') format('woff');
}

@-webkit-keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

@-moz-keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

@-o-keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@-moz-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/* end Nick Pettit code */

body {
    background: linear-gradient(to bottom right, #77c9d4, #57bc91);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*creates our main content container*/
#container {
    margin: 0 auto;
    width: 960px;
    padding: 40px 0 0;
    text-align: center;
    position: relative;
}

/*fills container*/
#container #content {
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    
    -webkit-animation: fade 2s;
       -moz-animation: fade 2s;
         -o-animation: fade 2s;
            animation: fade 2s;
}

header img {
    height: 464px;
    
    -webkit-animation: pulse 3s infinite;
       -moz-animation: pulse 3s infinite;
         -o-animation: pulse 3s infinite;
            animation: pulse 3s infinite;
}

header h1, header h2 {
    width: 460px;
    margin: 0 auto;
}

header h1 {
    text-transform: uppercase;
    font-family: 'nevis';
    color: white;
    font-size: 50px;
    letter-spacing: -2px;
    margin-top: 15px;
}

header h2 {
        padding: 0 0 60px;
}

header h2,
footer h2{
    font-family: 'Caviar Dreams Italic';
    color: white;
    font-size: 32px;
    text-align: left;
    font-weight: 100;
    letter-spacing: -2px;
    margin-top: -10px;
}

.bodycopy {
    width: 345px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #77c9d4;
}

.bodycopy h1{
    font-family: 'Caviar Dreams Italic';
    font-weight: 100;
    font-size: 24px;
    color: #A9A;
    position: absolute;
    left: 15px;
}

.bodycopy#firstBox h1{
    bottom: -15px;
}

.leftBorder h1,
.rightBorder h1{
    top: -50px;
}

#firstBox {
    height: 215px;
}

#extralife {
    border-bottom: none;
    height: 700px;
}

.rightBorder {
    border-right: 1px solid #77c9d4;
}

.leftBorder, 
#firstBox {
    border-left: 1px solid #77c9d4;
}

.bodycopy p,
footer p{
    text-align: left;
    font-family: 'Lato';
    font-weight: light;
    color: #A9A;
}

.bodycopy p {
    padding: 20 0 0 100;
    position: absolute;
    width: 210px;
    line-height: 22px;
}

.rightDiv {
    position: relative;
    float: right;
    height: 0px;
}

.leftDiv {
    float: left;
    height: 0px;
}

.leftImage {
    position: relative;
}

.rightImage { 
    position: relative;
}

.rightImage#btmVinyl,
.rightImage#topVinyl {
    left: 320px;
    bottom: 410px;
}

.rightImage#btmVinyl {
    margin-top: -70px;
}

.leftImage#vinylCover {
    right: 308px;
    top: 20px;
}

.bodycopy p#boviText,
.bodycopy p#megaText {
    padding-left: 15px;
}

.leftImage#boviCover {
    width: 350px;
    right: 330px;
}

.rightImage#boviGlasses,
.rightImage#boviTitle {
    left: 240px;
    bottom: 210px;
    width: 105%;
}

.rightImage#boviGlasses {
    margin-top: -50px;
    left: 280;
}

.leftImage#silhouette,
.leftImage#mondrian {
    right: 340px;
}

.leftImage#silhouette {
    bottom: 85px;
}

.leftImage#mondrian {
    bottom: 260px;
    left: -225px;
}

.rightImage#window {
    left: 330px;
    width: 350px;
    bottom: 60px;
}

.leftImage#boardLeft {
    width: 150px;
    bottom: 80px;
    right: 470px;
}

.leftImage#boardRight {
    width: 158px;
    bottom: 80px;
    right: 175px;
}

.leftImage#boardMid {
    width: 25%;
    right: 323px;
    bottom: 410px;
}

.rightImage#twopage {
    width: 300px;
    left: 165px;
    bottom: 390px;
}

.rightImage#ad1,
.rightImage#ad2 {
    width: 230px;
}

.rightImage#ad1 {
    left: 325px;
    bottom: 100px;
}

.rightImage#ad2 {
    left: 200px;
    bottom: 280px;
}

.leftDiv#elLeft{
    position: relative;
    top: 30px;
}

.leftImage#el_in {
    bottom: 30px;
    width: 55%;
    right: 300px;
}

.leftImage#el_mid {
    width: 40%;
    right: 500px;
    top: 95px;
}

.leftImage#el_out {
    right: 230px;
    top: 100px;
}

.rightImage#el_opening {
    width: 200px;
    left: 280px;
    bottom: 120px;
}

.rightImage#el_cover {
    width: 300px;
    left: 328px;
    bottom: 70px;
}

footer {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    column-gap: 100px;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
}

footer p {
    text-align: left;
    color: white;
    width: 300px;
}

#about,
#contact {
    display: block;
}

#about {
    margin-top: 10px;
}

form {
    text-align: left;
}

#email_input {
    margin: 10 0 10;
    padding: 5px;
}

#message_input {
    height: 100px;
    width: 100%;
    resize: none;
    padding: 5px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}