* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:"nevis";
    src:url("nevis.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Caviar Dreams Italic';
    font-style: italic;
    font-weight: 100;
    src: local('Caviar Dreams Italic'), url('CaviarDreamsItalic.woff') format('woff');
}

body {
    background: linear-gradient(to bottom right, #77c9d4, #57bc91);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    margin: 0 auto;
    width: 960px;
    padding: 40px 0 0;
    text-align: center;
    position: relative;
}

header img {
    height: 464px;
}

header h1, header h2 {
    width: 460px;
    margin: 0 auto;
}

header h1 {
    text-transform: uppercase;
    font-family: 'nevis';
    color: white;
    font-size: 50px;
    letter-spacing: -2px;
    margin-top: 15px;
}

header h2 {
        padding: 0 0 60px;
}

header h2,
footer h2{
    font-family: 'Caviar Dreams Italic';
    color: white;
    font-size: 32px;
    text-align: left;
    font-weight: 100;
    letter-spacing: -2px;
    margin-top: -10px;
}

#container #content {
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
}

.bodycopy {
    width: 345px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #77c9d4;
}

.bodycopy h1{
    font-family: 'Caviar Dreams Italic';
    font-weight: 100;
    font-size: 24px;
    color: #A9A;
    position: absolute;
    left: 15px;
}

.bodycopy#firstBox h1{
    bottom: -15px;
}

.leftBorder h1,
.rightBorder h1{
    top: -50px;
}

#firstBox {
    height: 215px;
}

.rightBorder {
    border-right: 1px solid #77c9d4;
}

.leftBorder, 
#firstBox {
    border-left: 1px solid #77c9d4;
}

.bodycopy p,
footer p{
    text-align: left;
    font-family: 'Lato';
    font-weight: light;
    color: #A9A;
}

.bodycopy p {
    padding: 20 0 0 100;
    position: absolute;
    width: 210px;
}

.leftImage {
    position: relative;
    float: left;
    clear: both;
}

.rightImage { 
    float: right;
    position: relative;
    clear: both;
}

.rightImage#btmVinyl,
.rightImage#topVinyl {
    left: 280px;
    bottom: 410px;
}

.rightImage#btmVinyl {
    margin-top: -70px;
}

.leftImage#vinylCover {
    right: 308px;
    top: 20px;
}

.bodycopy p#boviText {
    padding-left: 15px;
}

.leftImage#boviCover {
    width: 350px;
    bottom: 200px;
    right: 330px;
}

.rightImage#boviGlasses,
.rightImage#boviTitle {
    left: 240px;
    bottom: 450px;
    width: 105%;
}

.rightImage#boviGlasses {
    margin-top: -40px;
    margin-right: -50px;
}

footer {
    column-count: 2;
    column-gap: 50px;
    padding: 25 200 150;
}

footer p {
    height: 300px;
    text-align: left;
    color: white;
}

footer h2 {
}

form {
    text-align: left;
}

#email_input {
    margin: 10 0 10;
}

#message_input {
    height: 100px;
    width: 100%;
    resize: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}